footer {
    background-color: $secondary;
    padding: 2rem 0;
    ul {
        margin-bottom: 0;
        
        i {
            color: antiquewhite;
            font-size: 3px;
            vertical-align: middle;
        }
    }
}